
footer {
  flex: 1;
  display: flex;
  background-color: #495E57;
  color: #fff;
  align-content: center;
  justify-content: space-between;
  gap: 5vw;
  padding: 2.5vw;
  
}
footer > img {
  background-color: #fff;
  padding: 10px;
  height: 100px;
}
footer > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

footer > ul > li{
  color: #fff;
  font-size: clamp(12px, 1vw, 16px);
  
}
footer > ul > li > .navLink{
  color: #fff;
  font-size: clamp(12px, 1vw, 16px);
  
}

