@font-face {
  font-family: 'Markazi';
  src: url('assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype') ;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'DM';
  src: url('assets/fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url('assets/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

.hamburger{
  display:none;
  transition: .35s;
}
.hamburger:hover {
  opacity: 0.65;
  transition: 0.35s;
}
.menu{
   display:none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
nav {
  background-color: #fff;
  display: flex;
  position: relative;
  top: 0px;
  padding-inline: 5vw;
  padding-block: 1vw;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav #logo {
  scale: 1.5;
}
.basket {
  scale: .85;
  cursor: pointer;
}
.menu {
  display:flex;
  width: 75%;
  font-family: 'IBM';
  font-weight: 400;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

ul > li > a{
  font-weight: 700;
  padding: 0;
  text-align: center;
  color: #495E57;
  text-decoration-line: none;
}

ul > li {
  transition: .35s;

}
ul > li:hover {
  opacity: 0.65;
  transition: 0.35s;
}

h1 {
  font-family: 'Markazi';
  font-size: clamp(32px, 7vw, 72px) ;
  color: #F4CE14;
  margin-block: 0px;
  font-weight: 500;
  line-height: 55%;
}
h2 {
  font-family: 'Markazi';
  font-weight: 400;
  font-size: 32px;
  font-size: clamp(18px, 4vw, 42px) ;
  color: white;
  margin-block: 0px;
}
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  justify-content: center;
  text-align: left;
  background-color: #495E57;
  padding-inline: 15vw;
  padding-block: 5vw;

}
.hero-section > div {
  display: flex;
  flex-direction: column;
}
.hero-section > div > p {
  font-family: 'Karla';
  color: white;
  font-size: clamp(12px, 2.5vw, 26px);
}

#img {
  border-radius:12px;
  object-fit: cover;
  background-image: url("assets/images/food-tray.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  transition: .35s;
}

#img:hover {
  scale: 1.1;
  transition: .35s;
}

section {
  flex: 1;
  padding-inline: 15vw;
  padding-block: 40px;
}

section > h2 {
  font-family: 'IBM';
  font-weight: 700;
}

.highlights h2 {
  color: #000;
}
.testimonials {
  background-color: #495E57;
}

.testimonials h2 {
  color: #F4CE14;
  text-align: center;
}

.reserve-button {
  font-family: 'Karla';
  background-color: #F4CE14;
  border-radius: 32px;
  border-width: 0px;
  font-weight: 800;
  font-size: 1.5vw;
  align-self: flex-start;
  font-size: clamp(.75rem, 2.5vw, 26px);
  cursor: pointer;
}

.reserve-button > p {
  padding: 0px;
  margin: 0px;
  padding: 1vw;
  font-size: clamp(12px, 2.5vw, 26px);
}

@media screen and (max-width: 960px) {
.menu{
  display:block;
  position: fixed;
  top: 0;
  left: -75vw;
  margin-top: 0px;
  background-color: #495E57;
  color: #fff;
  width: 33%;
  font-size: 1rem;
  font-family: 'IBM';
  font-weight: 400;
  padding-inline: 5%;
  padding-block: 2%;
  height: 100vh;
  transition: 300ms ease;
}
.menu > li{
  text-align: left;
  font-size: 4vw;
  padding-block: 7px;
}

.hamburger {
  display: block;
  width: 5%;
  padding-right: 5%;
  cursor: pointer;
}


.menu > .hamburger {
  display: block;
  filter: invert(100%);
  width: 15%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.menu > li > a{
  color: #fff;
}
#menu-open {
  left: 0;
}

nav #logo {
  scale: 1;
}
.basket {
  scale: .6;
}
}
