
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hamburger{
  display:none;
  transition: .35s;
}
.hamburger:hover {
  opacity: 0.65;
  transition: 0.35s;
}


nav {
  background-color: #fff;
  display: flex;
  padding-inline: 5vw;
  padding-block: 1vw;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#logoLink {
  align-content: center;
}
#logo {
  width: clamp(150px, 25vw, 300px);
}
.basket {
  width: clamp(40px, 3vw, 50px);
  cursor: pointer;
}

.footerLogo {
  display: none;
  width: 100%;
}
#menu {
  display:flex;
  flex:1;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
  gap: 1px;
  align-items: center;
  padding-left: 2%;
}

.navLink{
  font-family: 'IBM';
  font-weight: 700;
  font-size: clamp(12px, 1.5vw, 22px);
  color: #495E57;
  text-decoration-line: none;
}
  /*text-decoration-line: none;*/


.activeNavItem {
  color: #F4CE14;
}


ul > li {
  transition: .35s;

}
ul > li:hover {
  opacity: 0.65;
  transition: 0.35s;
}

h1 {
  font-family: 'Markazi';
  font-size: clamp(32px, 7vw, 72px) ;
  color: #F4CE14;
  margin-block: 0px;
  font-weight: 500;
  line-height: 55%;
}
h2 {
  font-family: 'Markazi';
  font-weight: 400;
  font-size: clamp(14px, 3vw, 32px) ;
  color: white;
  margin-block: 0px;
}
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  justify-content: center;
  text-align: left;
  background-color: #495E57;

}
.hero-section > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  
}
.hero-section > div > p {
  font-family: 'Karla';
  color: white;
  font-size: clamp(12px, 2.5vw, 26px);
}
.hero-section > div > .button {
  justify-self: flex-end;
}

#img {
  border-radius:12px;
  object-fit: cover;
  background-image: url("assets/images/food-tray.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  transition: .35s;
}

#img:hover {
  scale: 1.1;
  transition: .35s;
}

section {
  padding-inline: 20vw;
  padding-block: 40px;
  
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
}
.highlights div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlights > div > h2 {
  color: #000;
  font-family: 'Markazi';
  font-weight: 600;
  font-size: clamp(28px, 3vw, 72px);
}

.button {
  background-color: #F4CE14;
  color: #000;
  text-decoration-line: none;
  padding-inline: 2vw;
  padding-block: .5vw;
  border-radius: 28px;
  font-size: clamp(14px, 2.5vw, 24px);
  font-weight: 900;
  font-family: 'Karla';
  cursor: pointer;
  
}

.button:active {
  opacity: .5;
  transition: .1s ease;
}

#cardbox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.75vw;
  justify-content: center;
  align-items: start;
}
.card {
  display: flex;
  width: 19vw;
  flex-direction: column;
  background-color: #E9E9E9;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  cursor: pointer;
}
.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: start;

}
.card > img {
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  transition: .3s ease;
}
.card > img:hover {
  opacity: .75;
  transition: .3s ease;
}
.card-title {
  margin: 1vw;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.card-title > h3 {
  margin: 0px;
  font-family: 'Karla';
  font-size: clamp(12px, 2vw, 28px);
}
.card-title > h4 {
  margin: 0px;
  font-family: 'Karla';
  font-size: clamp(12px, 1.5vw, 24px);
  color: #ffa74eb6;
  font-weight: 600;
}
.card-content > p {
  font-family: 'Karla';
  font-size: clamp(12px, 1vw, 24px);
  width: 90%;
}

.card-button {
  font-family: 'Karla';
  font-size: clamp(10px, 2vw, 24px);
  width: 90%;
  padding: 1vw;
  padding-bottom: 2vw;
  font-weight: 700;
  cursor: pointer;
}
section h2 {
  font-family: 'IBM';
  font-weight: 700;
}

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: #495E57;
  gap: 1vw;
}

.testimonials h2 {
  color: #F4CE14;
  text-align: center;
}
.testimonials > div {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1vw;

}

.testimonials-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 25vw;
  align-items: center;
  padding: 1%;
  gap: 1vw;
}
.reviewer{
  display: flex;
  align-content: center;
  gap: 2vw;
  justify-content: space-evenly;
  font-family: 'Karla';
  font-weight: 600;
  font-size: clamp(12px, 2vw, 24px);
}
.testimonials-card > p{
  font-family: 'Karla';
  font-weight: 500;
  font-size: clamp(12px, 1.5vw, 24px);
}

.avatar{
  border-radius: 50%;
  height: 7.5vw;
  width: 7.5vw;
  object-fit: cover;
}

.stars {
  display: flex;
  padding: 2vw;
  justify-content: space-evenly;
}
.stars > img {
  width: 15%;
  width: clamp(15px, 15%, 32px);
}

#about{
  display: flex;
  gap: 1vw;
}
#about > div{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  font-family: 'Karla';
  font-size: clamp(14px, 1.75vw, 32px);
  font-weight: 600;

}
#about > div:last-child{
  display: grid;
  grid-template-areas: 'overlap';
  width: 100%;
  overflow: hidden;

}
#about > div > .img:first-child{
  grid-area: overlap;
  width:  65%;
  height: 65%;
  background-color: #F4CE14;
  background-image: url("assets/images/restaurant.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  align-self: flex-end;
}
#about > div > .img:nth-child(2){
  grid-area: overlap;
  width: 65%;
  height: 65%;
  background-color: #495E57;
  background-image: url("assets/images/restaurant chef.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  justify-self: flex-end;
  align-self: flex-start;
}
#about h2{
  color: black
}


@media screen and (max-width: 700px) {
#menuContainer {
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: flex-start;
  justify-items: flex-end;
}
#menu{
  
  display:flex;
  position: fixed;
  justify-content: start;
  top: 0;
  height: 95%;
  width: 25%;
  flex-direction: column;
  margin-top: 0px;
  background-color: #fff;
  font-family: 'IBM';
  font-weight: 400;
  padding-inline: 5%;
  padding-block: 5%;
  transition: 300ms ease;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  gap: 4%;
}

.menu-open {
  left: 0;
}
.menu-closed {
  left: -150vw;

}
#menu > li{
  text-align: left;
  display: flex;
  width: 100%;

}

.hamburger {
  display: block;
  width: 5%;
  padding-right: 5%;
  cursor: pointer;
}


#menu > .hamburger {
  align-self: flex-start;
  width: 15%;
}

.navLink {
  flex: 1;
  align-self: center;
  color: #495E57;
  text-align: left;
  font-size: clamp(14px, 2.5vw, 24px);

}


nav #logo {
  scale: 1;
}
.basket {
  scale: .6;
}
.footerLogo {
  display: block;
  width: 100px;
  justify-self: center;

}

.menuFooter {
  flex: 1;
  align-content: end;
}
.hideBg {
  display: none;
  
  background-color: #282c34;
  opacity: 0;
  width: 100%;
  position: fixed;
  height: 150%;
  top: 0%;
  left: 0%;
}
.showNavBg {
  display: block;
  background-color: #282c34;
  opacity: .4;
  width: 100%;
  position: fixed;
  height: 125%;
  top: 0%;
  left: 0%;
}

section {
  padding-inline: 10vw;
  padding-block: 4vw;
  
}
.card {
  width: 27vw;
}
}
