

@font-face {
  font-family: 'Markazi';
  src: url('assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype') ;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'DM';
  src: url('assets/fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url('assets/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
